/* 🔥 ------------------- 🔥 */
/* 🔥 ----- A VENIR ----- 🔥 */
/* 🔥 ------------------- 🔥 */

#section-right {
    position: relative;
}

#btn--open--avenir {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(-100%);
    height: 39px;
    width: var(--grup2);
    border-radius: var(--grup-2) 0 0 var(--grup-2);
}

#btn--close--avenir {
    display: none;
}

.side-list,
#details {
    background-color: var(--list-bg-color);
    box-shadow: 0 0 0 2px var(--secondary-gray--02);
    padding: 26px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    height: calc(100vh - 162px);
    border-radius: var(--grup1) 0 0 var(--grup1);
}

#a-venir {
    transition: 0.5s ease-in-out;
}

.a-venir--tittle {
    display: flex;
    gap: var(--grup);
    align-items: center;
}

.side-list .side-list_title,
#details #title_details {
    background-color: var(--list-h-bg-color);
    border-radius: 6px;
    padding: 16px 42px;
}

.side-list h2,
#details h2 {
    font-size: var(--grup1);
    margin: 0;
}

.side-list .items {
    overflow-y: auto;
    overflow-x: visible;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 2px;
}

/*---------ITEM----------*/

.item {
    background-color: var(--white);
    border-radius: 6px;
    padding: 16px 26px;
    border-left: solid 6px !important;
    display: grid;
    gap: 17px;
    align-items: center;
    grid-template-columns: 82px 1fr min-content;

    white-space: nowrap;
    cursor: pointer;
}

.item:hover {
    background-color: #eceff2;
}

.side-list .notvalidated {
    border: dashed 2px var(--secondary-gray--03);
}

.side-list .time {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.time .date {
    font-size: 12px;
    color: var(--grey);
    margin-bottom: 0;
}

.time .time_left {
    display: flex;
    align-items: center;
    gap: 7px;
}

.time i {
    font-size: 28px;
}

.time_left .days {
    margin: 0;
    font-size: var(--grup);
    width: 60px;
}

.days span {
    font-weight: 600;
}

.side-list .subject {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.side-list .subject p.tag {
    margin-bottom: 5px;
}

.side-list .subject > div h3.notif-card__title,
.side-list .subject > div p.notif-card__subject {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 16vw;
}

@media screen and (max-width: 1500px) {
    .side-list .subject > div h3.notif-card__title,
    .side-list .subject > div p.notif-card__subject {
        max-width: 14vw;
    }
}

@media screen and (max-width: 1400px) {
    .side-list .subject > div h3.notif-card__title,
    .side-list .subject > div p.notif-card__subject {
        max-width: 12vw;
    }
}

@media screen and (max-width: 1300px) {
    .side-list .subject > div h3.notif-card__title,
    .side-list .subject > div p.notif-card__subject {
        max-width: 10vw;
    }
}

.side-list .subject > p {
    margin: 0;
}

.side-list .status {
    display: flex;
    align-items: center;
    gap: 5px;

    width: max-content;
    height: fit-content;
    padding: 6px 16px;

    background-color: var(--accent-blue);
    box-shadow: 0 0 0 2px var(--accent-blue-shadow);
    border-radius: 6px;

    color: var(--white);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

@media screen and (max-width: 1165px) {
    #section-right {
        z-index: 10;
        transform: translateX(3px)
    }

    #a-venir,
    #details {
        position: absolute;
        transform: translateX(100%);
        width: 60vw;
    }

    #btn--open--avenir, #btn--close--avenir {
        display: flex;
    }

    #a-venir {
        transform: translateX(0%);
    }

    #a-venir.a-venir--openned {
        transform: translateX(calc(-100% - 3px));
    }
}