{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <header></header>
    <main>
        <div id="calendar"></div>
        <div id="list">
            <div id="title_list">
                <h2>À Venir</h2>
            </div>
            <div id="items">
                <div class="item">

                </div>
                <div class="item">

                </div>
                <div class="item">

                </div>
            </div>
        </div>
    </main>

{% endblock %}
