/* 🟢 ------------------ 🟢 */
/* 🟢 ----- DETAIL ----- 🟢 */
/* 🟢 ------------------ 🟢 */

#details {
    position: absolute;
    top: 0;
    right: 0;
    transform: translateX(0%);
    transition: 0.5s ease-in-out;
}

#details.details--oppenned {
    transform: translateX(-100%);
}

/* 🟢 --- DETAIL HEAD --- 🟢 */

/* Div with go back btn and tag */
#details .detail--back {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#details .detail--back p {
    padding: var(--grup-3) var(--grup-1);
    font-size: var(--grup);
}

#details #title_details {
    color: var(--main--black);
}

#details .detail--title h2 {
    font-size: var(--grup2);
}

#details .detail--title .detail--title--under {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: var(--grup-1);
}

#details .detail--title .detail--title--under .time_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--grup-1);
}

#details .detail--title .detail--title--under .time_left p {
    width: initial;
}

/* 🟢 --- DETAIL CONTENT --- 🟢 */

#details .detail--content {
    display: flex;
    flex-direction: column;
    padding: var(--grup1);
    gap: var(--grup1);
    background-color: var(--white);
    border-radius: 6px;
}

#details .detail--content .detail--content--time {
    display: flex;
    justify-content: space-between;
}

#details .detail--content .detail--content--format {
    display: flex;
    flex-direction: column;
    gap: var(--grup-2);
}

#details .detail--content .detail--content--format-t {
    display: flex;
    align-items: center;
    gap: var(--grup-1);
    font-weight: 600;
}

#details .detail--content .detail--content--format-t i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--grup);
}

#details .detail--content .detail--content--description .detail--content--format-c {
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}

#details .detail--content .detail--content--done {
    outline: solid 1px #6ee014;
}

/*---------LIST----------*/
#section-right {
    position: relative;
}

.side-list,
#details {
    background-color: var(--list-bg-color);
    outline: 1px solid var(--secondary-gray--02);
    padding: 26px;
    display: flex;
    flex-direction: column;
    gap: 26px;
    height: calc(100vh - var(--grup5));
    border-radius: var(--grup1) 0 0 var(--grup1);
}

#details {
    position: absolute;
    top: 0;
    right: -100%;
}

.side-list .side-list_title {
    color: white;
}

.side-list .side-list_title,
#details #title_details {
    background-color: var(--list-h-bg-color);
    border-radius: 6px;
    padding: 16px 42px;
}

.side-list h2,
#details h2 {
    font-size: var(--grup1);
    margin: 0;
}

.side-list .items {
    overflow-y: auto;
    overflow-x: visible;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*---------ITEM----------*/

.item {
    background-color: var(--white);
    border-radius: 6px;
    padding: 16px 26px;
    border-left: solid 6px !important;
    display: grid;
    gap: 17px;
    align-items: center;
    grid-template-columns: 82px 1fr min-content;

    white-space: nowrap;
}

.side-list .notvalidated {
    cursor: pointer;
}

.side-list .notvalidated {
    border: dashed 2px var(--secondary-gray--03);
}

.side-list .time {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.time .date {
    font-size: 12px;
    color: var(--grey);
    margin-bottom: 0;
}

.time .time_left {
    display: flex;
    align-items: center;
    gap: 7px;
}

.time i {
    font-size: 28px;
}

.time_left .days {
    margin: 0;
    font-size: var(--grup);
    width: 60px;
}

.days span {
    font-weight: 600;
}

.side-list .subject {
    display: flex;
    flex-direction: column;
    gap: 5px;
    width: min(340px, 17vw);
}

/* .subject h3{
    margin: 0;
    width: fit-content;
    font-weight: 700;
}

.subject .course{
    margin: 0;
    font-size: var(--grup);
} */

.side-list .status {
    display: flex;
    align-items: center;
    gap: 5px;

    width: max-content;
    height: fit-content;
    padding: 6px 16px;

    background-color: var(--accent-blue);
    box-shadow: 0 0 0 2px var(--accent-blue-shadow);
    border-radius: 6px;

    color: var(--white);
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.side-list .subject p.tag {
    width: min-content;
}

.side-list .subject h3, .side-list .subject > p {
    width: 100%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.side-list .subject > p {
    margin: 0;
}

/*---------MODAL----------*/
#details #title_details {
    color: var(--main--black);
}

#details .detail--back {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: end;
}

#details .detail--back p {
    padding: var(--grup-3) var(--grup-1);
    font-size: var(--grup);
}

#details .detail--title h2 {
    font-size: var(--grup2);
}

#details .detail--title .detail--title--under .time_left {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: var(--grup-1);
}

#details .detail--title .detail--title--under .time_left p {
    width: initial;
}

#details .detail--title .detail--title--under .time_left p {
    width: initial;
}

.detail--content {
    display: flex;
    flex-direction: column;
    padding: var(--grup1);
    gap: var(--grup1);
    background-color: var(--white);
    border-radius: 6px;
}

.detail--content > button,
.detail--content > .btns--a-valider {
    margin: 0 auto;
}

.detail--content .detail--content--time {
    display: flex;
    justify-content: space-between;
}

.detail--content .detail--content--format {
    display: flex;
    flex-direction: column;
    gap: var(--grup-2);
}

.detail--content .detail--content--format-t {
    display: flex;
    align-items: center;
    gap: var(--grup-1);
    font-weight: 600;
}

.detail--content .detail--content--format-t i {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--grup);
}

.detail--content .detail--content--description .detail--content--format-c {
    width: 100%;
    white-space: normal;
    overflow-wrap: break-word;
}

.detail--content .detail--content--done {
    outline: solid 1px #6ee014;
}

.subject {
    position: relative;
}

.subject:hover .subject-choices {
    display: flex;
    padding: 0.4em 0.65em;
    gap: 10px;
}

.subject-choices {
    width: max-content;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 3100;
    display: none;
    flex-direction: column;
    gap: 5px;
}

.subject-choices label:hover {
    cursor: pointer;
    background-color: var(--accent-yellow);
}

#details.details--openned {
    transform: translateX(-100%);
}

@media screen and (max-width: 1165px) {
    #details.details--openned {
        transform: translateX(calc(0% - 3px));
    }
}