@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root {
    --body-bg-color: #f8f8f8;
    --list-bg-color: #F0F4F8;
    --list-h-bg-color: #464646;
    --fc-non-business-color: #009eff0a; /* couleur pour samedi et dimanche */
    --border-item-color: #7D5CFF;
    --white: #FFFFFF;
    --grey: #A3A3A3;
    --done: #9AE08F;
    --accent-yellow: #FFD540;
    --accent-orange: #F5AF47;
    --accent-blue: #4098FF; /* couleur pour les tags A SUPPRIMER APRÈS */
    
    --main-black: #424242;
    --grup6: 17.94rem; /* 288px */
    --grup5: 11.09rem; /* 177px */
    --grup4: 6.85rem; /* 110px */
    --grup3: 4.24rem; /* 68px */
    --grup2: 2.62rem; /* 42px */
    --grup1: 1.62rem; /* 26px */
    --grup: 1rem; /* 16px */
    --grup-1: 0.62rem; /* 10px */
    --grup-2: 0.38rem; /* 6px */
    --grup-3: 0.24rem; /* 4px */
    --grup-4: 0.15rem; /* 2px */
    --grup-5: 0.09rem; /* 1px */
    --grup-6: 0.06rem; /* 1px */
    --smooth1: 0.10s;
    --smooth2: 0.16s;
    --smooth3: 0.26s;
    --opacity: 68%;
}

body {
    background-color: var(--body-bg-color);
    padding: 0;
    margin: 0;
    font-family: 'Outfit', sans-serif;

    overflow-y: hidden;
}

p {
    margin: unset;
}

/*---------HEADER----------*/

header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    padding: var(--grup) var(--grup1);

    color: var(--main-black);

    user-select: none;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: var(--grup1);
}

.menu-notif {
    position: relative;

    font-size: var(--grup1);
}

.notif-dot {
    position: absolute;
    top: var(--grup-2);
    right: 0;
    width: var(--grup-2);
    height: var(--grup-2);
    border-radius: 50%;

    background-color: var(--accent-orange);
}

.menu-userCard {
    display: flex;
    align-items: center;
    gap: var(--grup);
}

.userCard__image {
    width: var(--grup2);
    height: var(--grup2);
    border-radius: 50%;
}

.userCard__content-name {
    font-size: var(--grup-1);
}

.userCard__content-name > span {
    font-size: var(--grup);
    font-weight: 600;
}


.menu-notif:hover,
.menu-userCard:hover {
    cursor: pointer;
}

/*---------MAIN----------*/

main {
    display: flex;
    height: 90vh;
    gap: 15px;
}

/*---------CALENDAR----------*/

#calendar {
    width: 70%;
    height: 90%;
    padding-left: 20px;
}

/*---------LIST----------*/

#list {
    width: 38%;
    background-color: var(--list-bg-color);
    padding: 26px;
    display: flex;
    flex-direction: column;
    gap: 26px;
}

#list #title_list {
    background-color: var(--list-h-bg-color);
    color: white;
    border-radius: 6px;
    padding: 16px 42px;
}

#list h2 {
    font-size: var(--grup1);
    margin: 0;
}

#list #items {
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/*---------ITEM----------*/

#list .item {
    background-color: var(--white);
    border-radius: 6px;
    padding: 16px 26px;
    border-left: solid 6px var(--border-item-color);
    display: grid;
    gap: 26px;
    align-items: center;
    grid-template-columns: 75px 1fr min-content;
}

#list .time{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.time .date{
    font-size: var(--grup-1);
    color: var(--grey);
    margin-bottom: 0;
}

.time .time_left{
    display: flex;
    align-items: center;
    gap: 7px;
}

.time i {
    font-size: 24px;
    color: var(--accent-orange);
}

.time_left .days{
    margin: 0;
    font-size: var(--grup);
}

.days span{
    font-weight: 600;
}

#list .subject{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.subject .tag{
    text-transform: uppercase;
    color: var(--white);
    border-radius: 4px;
    padding: 4px 6px;
    font-size: var(--grup-1);
    margin: 0;
    background-color: var(--accent-blue);
    width: fit-content;
}

.subject h3{
    margin: 0;
    font-size: var(--grup);
}

.subject .course{
    margin: 0;
    font-size: var(--grup);
}

#list .status{
    display: flex;
    gap: 5px;
    background-color: var(--done);
    border-radius: 6px;
    padding: 6px 16px;
    height: fit-content;
    color: var(--white);
    align-items: center;
}

.status p{
    margin:0;
}
