{% if detailsCard %}
    {% for item in detailsCard %}
        <i class="fa-solid fa-arrow-left" id="back"></i>
        <div id="title_details" style="background-color: {{ item.typeColor }}20; border: solid 6px {{ item.typeColor }}">
            <h2>{{ item.card.getCrdTitle() }}</h2>
        </div>
    {% endfor %}
{% endif %}
