/* 📜 --------------------------- 📜 */
/* 📜 ---------- LISTE ---------- 📜 */
/* 📜 --------------------------- 📜 */

main#main-list {
    flex-direction: column;
    padding: 0 var(--grup) var(--grup) var(--grup);
    gap: var(--grup1);
}

main#main-list .list--head {
    display: flex;
    flex-direction: column;
    gap: var(--grup1);
}

main#main-list .list--head h2 {
    position: absolute;
    left: 50vw;
    transform: translateX(-50%);
}

main#main-list .list--head .fc-header-toolbar {
    width: 100%;
    display: flex;
}

main#main-list .list--head .fc-header-toolbar button {
    font-weight: 400;
}

main#main-list .list--head .fc-header-toolbar .fc-toolbar-chunk {
    display: flex;
    gap: var(--grup);
    flex-wrap: wrap;
}

main#main-list .list--head .fc-header-toolbar .fc-button-group {
    display: flex;
}

main#main-list .fc-header-toolbar:not(.filter) button {
    height: 39px;
}

main#main-list #list--items {
    display: flex;
    flex-direction: column;
    padding-right: var(--grup-2);
    gap: var(--grup2);
    overflow-y: scroll;
}

main#main-list #list--items .week {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: var(--grup-1);
}

main#main-list #list--items .week .week--head {
    z-index: 2;
    display: flex;
    flex-direction: column;
    background-color: var(--body-bg-color);
    top: 0;
    position: sticky;
}

main#main-list #list--items .week .week--head .week--title {
    color: var(--secondary-gray--04);
    width: 100%;
}

main#main-list #list--items .week .week--head hr {
    border: var(--secondary-gray--02) solid 1px;
    width: 100%;
}

main#main-list #list--items .week .item {
    cursor: unset
}

main#main-list #list--items .week .item:hover {
    background-color: #ffffff;
}

main#main-list #list--items .item.notvalidated {
    border: dashed 2px var(--secondary-gray--03);
}

main#main-list #list--items .item .liste--item--content {
    display: flex;
    flex-direction: column;
    gap: var(--grup);
    overflow: hidden;
}

main#main-list #list--items .item .liste--item--content .subject .tag {
    margin-bottom: var(--grup-3);
}

main#main-list #list--items .item .liste--item--content .subject h3 {
    font-size: var(--grup1);
}

main#main-list #list--items .item .liste--item--buttons {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: var(--grup);
    align-items: end;
    justify-content: space-between;
}

main#main-list #list--items .item .liste--item--buttons .detail--content--modif---btns {
    opacity: 0;
}

main#main-list #list--items .item:hover .liste--item--buttons .detail--content--modif---btns {
    opacity: 1;
}

@media screen and (max-width: 850px) {
    main#main-list .list--head h2 {
        position: static;
        left: unset;
        transform: unset;
    }

    main#main-list #list--items .week .item {
        grid-template-columns: 82px 1fr;
    }

    main#main-list #list--items .item .liste--item--buttons {
        flex-direction: row;
        grid-column: 1/-1;
        justify-content: end;
        flex-wrap: wrap;
    }
}