<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
    {% endblock %}

        {% block javascripts %}
            <script src='https://cdn.jsdelivr.net/npm/fullcalendar@6.1.10/index.global.min.js' defer></script>
            <script src="https://kit.fontawesome.com/9d34ec166c.js" crossorigin="anonymous" defer></script>
            {% block importmap %}{{ importmap('app') }}{% endblock %}
        {% endblock %}
    </head>
    <body>
        <header class="header">
        <div class="header__logo-placeholder"></div>
        <div class="header__menu">
            <div class="menu-notif">
                <i class="fa-solid fa-bell"></i>
            </div>
            <div class="menu-userCard">
                <img class="userCard__image" src="" alt="photo de profil">
                <div class="userCard__content">
                    <p class="userCard__content-name">
                        <span>Bienvenue</span>
                        Cassandre Lamaty
                    </p>
                </div>
            </div>
        </div>
    </header>
        {% block body %}{% endblock %}
    </body>
</html>
