<div class="cookies">
    <img src="{{ asset('images/cookies.svg') }}" alt="Cookie" />
    <div>
        <p class="cookies-title">Pas de cookies ici !</p>
        <p>Ce site n'utilise pas de cookies. <br>Il utilise uniquement le stockage local de votre navigateur <br>pour sauvegarder vos préférences d'affichage.</p>
        <div class="cookies-choice">
            <button class="btn btn-primary btn-cookies">D'accord !</button>
        </div>
    </div>
</div>