<header class="header">
    <img src="{{ asset('images/logo.svg') }}" alt="logo iut">
    <div class="header-menu">
        <div class="notif">
            <i class="fa-solid fa-bell"></i>
            <div class="notif-dot"></div>
            {% include 'components/notif_dropdown.html.twig' %}
        </div>
        <div class="menu-userCard">
            <img class="userCard__image" src="{{ asset('images/users/Artur.jpg') }}" alt="photo de profil">
            <div class="userCard__content">
                <p class="userCard__content-name">
                    Bienvenue<br>
                    <span>{{ firstname }} {{ lastname }}</span>
                </p>
            </div>
            {% include 'components/userCard_dropdown.html.twig' %}
        </div>
    </div>
</header>