<div class="notif-dropdown">
    <div class="double-button">
        <button><i class="fa-solid fa-envelope-open"></i></button>
        <button><i class="fa-solid fa-gear"></i></button>
    </div>
    <div class="notif__card">
        <div class="items">
            <div class="item" style="border-left-color: #4098FF !important;">
                <div class="subject">
                    <div class="tags_container">
                        <p class="tag">Nouveau</p>
                        <p class="tag">Travaux</p>
                    </div>
                    <h3>Grammar / Vocabulaire</h3>
                    <p class="course">WRA301 - Anglais</p>
                </div>
            </div>

            {% for item in notifications %}
                <div class="item" style="border-left-color: #4098FF !important;">
                    <div class="subject">
                        <div class="tags_container">
                            <p class="tag">Nouveau</p>
                            <p class="tag">Travaux</p>
                        </div>
                        <h3>{{ item.getNotTitle() }}</h3>
                        <p class="course">WRA301 - Anglais</p>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="double-button">
            <button><i class="fa-solid fa-eye"></i> Voir</button>
            <button><i class="fa-solid fa-trash-can"></i></button>
        </div>
    </div>
</div>