<div class="popup-container">
    <div class="popup-content">
        <h3 class="popup__title">Vous êtes sur le point de supprimer zddedezded</h3>
        <p>Êtes vous sûr de vouloir continuer ?</p>
    </div>
    
    <div class="buttons-container">
        <a href="/suppression_notif"><button class="delete-button"><i class="fa-solid fa-trash-can"></i>Supprimer</button></a>
        <button>Annuler</button>
    </div>
</div>