<div class="notif-dropdown">
    <div class="double-button">
        <button><i class="fa-solid fa-envelope-open"></i></button>
        <button><i class="fa-solid fa-gear"></i></button>
    </div>
    <div class="notif__card">
        <div id="items">
            <div class="item">
                <div class="subject">
                    <p class="tag">Nouveau</p>
                    <p class="tag">Travaux</p>
                    <h3>Grammar / Vocabulaire</h3>
                    <p class="course">WRA301 - Anglais</p>
                </div>
            </div>
        </div>
        <div class="double-button">
            <button><i class="fa-solid fa-eye"></i> Voir</button>
            <button><i class="fa-solid fa-trash-can"></i></button>
        </div>
    </div>
</div>