<div class="userCard-dropdown">
    <div class="dropdown__buttons-container">
        <button class="dropdown__buttons">Support <i class="fa-solid fa-paper-plane"></i></button>
        <button class="dropdown__buttons">Options <i class="fa-solid fa-gear"></i></button>
    </div>
    <span class="dropdown__logout">Se déconnecter <i class="fa-solid fa-door-open"></i></span>
</div>