<div class="userCard-dropdown">
    <div class="buttons-container">
        <button class="userCard__button">Support <i class="fa-solid fa-paper-plane"></i></button>
        <button class="userCard__button">Options <i class="fa-solid fa-gear"></i></button>
    </div>
    <a href="/logout" class="userCard__logout">Se déconnecter <i class="fa-solid fa-door-open"></i></a>
</div>