<div class="userCard-dropdown">
    <div class="buttons-container">
        <a href="mailto:cassandre.lamaty@etudiant.univ-reims.fr" style="text-decoration: none; color: unset;"><button class="userCard__button" >Support <i class="fa-solid fa-paper-plane"></i></button></a>
        <button class="userCard__button" id="optionButton">Options <i class="fa-solid fa-gear"></i></button>
    </div>
    <a href="/logout" class="userCard__logout">Se déconnecter <i class="fa-solid fa-door-open"></i></a>
</div>